/* =========================================================
   Utility
========================================================= */
[hidden],
.hidden {
  display: none !important;
}

.center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html.is-large-text {
  font-size: 24px;
}

html.is-large-text .section-heading h2,
html.is-large-text .section-header h2 {
  font-size: clamp(2.25rem, 6vw, 3rem);
}
